*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
.works-heading{
    font-size: 48px;
    margin: auto;
    color: black;
    text-align:center;
    margin-bottom: 50px;
}

.work-container{
    height: 800px;
    background-color:black ;
    padding: 5px;
    margin: auto;
    border-radius:16px;
    margin-bottom:100px;
}

.work-inner-container{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 20px;
    /* border: 1px solid red; */
}

.p-image{
    width: 100%;
    height: 50%;
    /* border: 2px dotted; */
    
}
.p-image img{
    width: 80%;
    height: 80%;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.p-buttons{
    /* width: 100%; */
    /* max-width: 350px; */
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    /* border: 1px solid red; */
    margin-top: 25px;

}
.p-buttons button{
    height: 40px;
    width: 130px;
    margin:10px;
    border: 3px solid black;
    background-color: rgb(52, 49, 49);
    color: white;
    font-size: 24px;
    font-weight: 500;
    border-radius: 20px;
    /* border: 1px solid red; */
    
}

.p-name{
    font-size: 24px;
    color:black;
    font-weight: 800;
    /* border: 1px solid red;  */
}

.p-description{
    margin: 20px 0 20px 0;
    /* border: 1px solid red; */
}

.p-stack{
    
    border-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    /* border: 1px solid red; */
}

.bebody{
    width: 450px;
    height: 338px;
}
@media only screen and (max-width: 600px) {
    .p-buttons{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .work-container{
        height: 700px;
    }
    .p-description{
    display: none;
    }

}